<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Welcome! The date and time is <%= now = Time.now %></p>

      <h1>Welcome to Bike Berlin</h1>
      <h2>Your source for used bikes in Berlin</h2>
    </div>

    <div class="col-md-6">
      <%= image_tag("my_calculator.png", class: "img-fluid") %>
    </div>
  </div>

  <%# test_variable = 42 %>
  <%#= test_variable %>
  <%#= now %>
</div>
